{
  "retainLines": true,
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "allExtensions": true,
        "isTSX": true
      }
    ],
    "@babel/preset-env",
  ],
  "plugins": [
    [
      "emotion",
      {
        "autoLabel": true,
        "labelFormat": "-[local]"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
