{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "typescript"
  ],
  "plugins": [
    [
      "emotion",
      {
        "autoLabel": true,
        "labelFormat": "-[local]"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}